@import url('style.css');

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
}
nav a {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ccc;
  color: white;
  text-decoration: none;
  font-size: 1.25em;
  transition: all 0.4s;
}
nav a:hover {
  background: #aaa;
}

nav a::after {
  content: '->>';
  margin-left: 0.5em;
  position: relative;
  transition: all 0.4s;
  width: 0;
  white-space: nowrap;
}
nav a:not(.source-only)::after {
  font-family: Fira Code, monospace;
}
nav a.source-only::after {
  content: url('/img/github.svg') ' Source';
}
a:not(:hover)::after {
  transform: translateX(-2em);
  opacity: 0;
}
nav a.mini {
  flex: initial;
  height: 2em;
}
