@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://cdn.rawgit.com/tonsky/FiraCode/94f1d8f/distr/fira_code.css');

body {
  margin: 0;
  user-select: none;
}
body, .meta {
  font-family: Merriweather Sans, sans-serif;
}

code {
  font-family: Fira Code, monospace;
}

.meta {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  justify-content: flex-end;
  color: white;
  display: flex;
  align-items: center;
  pointer-events: none;
  user-select: none;
}
.meta a {
  pointer-events: initial;
  color: white;
  line-height: 0;
  margin: 0 0.5em;
}
