@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://cdn.rawgit.com/tonsky/FiraCode/94f1d8f/distr/fira_code.css');

body {
  margin: 0;
  user-select: none;
}
body, .meta {
  font-family: Merriweather Sans, sans-serif;
}

code, nav a.npm {
  font-family: Fira Code, monospace;
}

.meta {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
  justify-content: flex-end;
  color: #444;
  display: flex;
  align-items: center;
  pointer-events: none;
  -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none; /* sigh so much for -prefix-free */
  user-select: none;
}
.meta a {
  pointer-events: initial;
  color: #444;
  line-height: 0;
  margin: 0 0.5em;
}

.contact {
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #666;
  width: 300px;
  border-top-right-radius: 3px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.contact .header {
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 2em;
  cursor: pointer;
}
#show_contact {
  display: none;
}
.contact .header span {
  flex: 1;
}
.contact .header i::after,
.contact .header i::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 1em;
  width: 1em;
  height: 0.1em;
  background: currentColor;
}
.contact .header i::before {
  transform: scaleY(0) rotate(-90deg);
  transition: transform 0.4s;
}
#show_contact:not(:checked) + * i::before {
  transform: scaleY(1) rotate(-90deg);
}
.contact .body {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.4s;
}
.contact #show_contact:checked ~ .body {
  height: 275px;
  opacity: 1;
}
.contact .body textarea {
  flex: 1;
  resize: none;
}
.contact .body input, .contact .body textarea {
  padding-left: 0.5rem;
  color: white;
  appearance: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid #aaa;
  font-size: 1em;
  order: 0;
  font-family: inherit;
  transition: border-color 0.4s;
}
.contact .body input:focus, .contact .body textarea:focus {
  outline: none;
  border-bottom-color: #ccc;
}
.contact .body label {
  margin-left: 0.5rem;
  font-size: 0.75em;
  color: #e4e4e4;
  height: 0.75rem;
  transition: all 0.2s;
  position: relative;
  top: 0;
  line-height: 1rem;
}
.contact .body textarea:focus + label, .contact .body input:focus + label {
  color: white;
}
.contact .body textarea:placeholder-shown:not(:focus) + label,
.contact .body input:placeholder-shown:not(:focus) + label {
  top: 1em;
  font-size: 1em;
  pointer-events: none;
}

.contact .body button {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  color: white;
  height: 2em;
  cursor: pointer;
  transition: background 0.4s;
}
.contact .body button:hover, .contact .body button:focus {
  outline: none;
  background: #aaa;
}
