@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://cdn.rawgit.com/tonsky/FiraCode/94f1d8f/distr/fira_code.css');

body {
  margin: 0;
  font-family: Merriweather Sans, sans-serif;
}

code {
  font-family: Fira Code, monospace;
}
